<strong>Hi, {{ organizer }}</strong>
<p>A new subscription was made on {{ meetup }} event. See details down bellow:</p>
<p>
  <strong>Attendant id:</strong> {{ user }} <br />
  <strong>Date:</strong> {{ date }} <br />
  <br />
  <small>
    Congratulations!!!
  </small>
</p>
