<strong>Hi, {{ provider }}</strong>
<p>An appointment was cancelled. See details down bellow:</p>
<p>
  <strong>Customer:</strong> {{ user }} <br />
  <strong>Timestamp:</strong> {{ date }} <br />
  <br />
  <small>
    This spot is now available for a new schedule.
  </small>
</p>
